---
layout: global
title: 資料清單
---

<main id="homepage">

<header id="header" class="ui basic center aligned teal section segment" style="background-color: #fff;">
  <div class="ui container">
    <!--
      <div class="sidebar button">
        <i class="teal icon sidebar" style="margin: 0;"></i>
      </div>
    -->
    <h1 class="ui large header" style="margin-top: 2rem;">
      司改
      <i class="law orange icon" style="margin: 0; font-size: 1em; line-height: 1em; position: relative; top: -0.3rem;"></i>
      追追追
    </h1>
    <p >
      \ {{ site.data.site.description }} /
    </p>
    <p>
      這個頁面是初步試拆完的 data model 的設計師友善版，單純呈現資料用，目的是讓設計師製作 wireframe 時有擬真的 data 可以套用。本頁的排版方式跟未來的 wireframe 無關，不管 layout 是啥都請忽略～文字版的資料清單詳
    </p>
    <p style="margin-bottom: 2rem;">
      <a class="ui basic teal button" href="https://github.com/ETBlue/jrtracker/tree/gh-pages/_data">
        <i class="icon github"></i>
        github
      </a>
    </p>
  </div>
</header>

<section class="ui basic teal section segment">
  <div class="ui container">
    <div class="ui two column stackable grid">
      <div class="five wide column">
        <div class="ui vertical fluid menu">

          <div class="item">
            我是一個萬能的選單
          </div>

          <div class="item">
            依更新時間過濾
            <div class="menu">
              <div class="item">
                2017 年
                <div class="menu">
                  <a class="item">
                    <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                      n
                    </span>
                    12 月
                  </a>
                  <a class="item">
                    <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                      n
                    </span>
                    11 月
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            依狀態過濾
            <div class="menu">
              <div class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                草案規劃中
              </div>
              <div class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                草案審議中
              </div>
              <div class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                已成案
              </div>
              <div class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                執行中
              </div>
              <div class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                驗收中
              </div>
              <div class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                已結案
              </div>
              <div class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                放置中
              </div>
              <div class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                已撤案
              </div>
            </div>
          </div>

          <div class="item">
            依所屬政策過濾
            <div class="menu">
              {% for p in site.data.policy %}
              <a class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                {{ p[0] }}
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依相關法規過濾
            <div class="menu">
              <a class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                OOO 法
              </a>
            </div>
          </div>

          <div class="item">
            依相關行政命令過濾
            <div class="menu">
              <a class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                OOO 命令 OOO 號
              </a>
            </div>
          </div>

          <div class="item">
            依利害關係人過濾
            <div class="menu">
              {% for s in site.data.stakeholder %}
              <a class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                {{ s[0] }}
                {{ s[1].name_en }}
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依司法關鍵字過濾
            <div class="menu">
              {% for s in site.data.system %}
              {% for a in s[1].activity %}
              <a class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                {{ a.name }}
                {{ a.name_en }}
              </a>
              {% endfor %}
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依單位組織過濾
            <div class="menu">
              {% for o in site.data.office %}
              <a class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                {{ o[0] }}
                {% if o[1].type != "gov" %}
                (NGO)
                {% endif %}
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依國是會議主題過濾
            <div class="menu">
              {% for t in site.data.topic %}
              <a class="item">
                <span class="ui right floated horizontal label" style="background-color: rgba(0,0,0,0.1); color: inherit;">
                  n
                </span>
                {{ t[0] }}
                {{ t[1] }}
              </a>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
      <div class="eleven wide column">

        {% for r in site.data.resolution %}
        <div class="ui teal segment" style="">
          <div class="content">
            <header style="margin: -1rem -1rem 1rem  -1rem; padding: 1rem; background-color: #ebf9f7; color: #00b5ad; border-radius: 0.25rem 0.25rem 0 0;">
              <p style=" margin: 0; line-height: 2em;">
                <span style="float: none; margin-right: 1rem;">
                  決議 {{ r[0] }}
                </span>
              </p>
              <!--
              <p style="text-align: right; margin: 0; line-height: 2em;">
                {% if r[1]._owner %}
                  {% for ow in r[1]._owner %}
                  <span class="ui teal horizontal label" style="margin: 0 0 0 0.5rem;">
                    {{ ow }}
                  </span>
                  {% endfor %}
                {% else %}
                  {% if r[1]._partner %}
                  {% else %}
                    <span>　</span>
                  {% endif %}
                {% endif %}

                {% if r[1]._partner %}
                  {% for pn in r[1]._partner %}
                  <span class="ui basic teal horizontal label" style="margin: 0 0 0 0.5rem;">
                    {{ pn }}
                  </span>
                  {% endfor %}
                {% else %}
                  {% if r[1]._owner %}
                  {% else %}
                    <span>　</span>
                  {% endif %}
                {% endif %}
              </p>
            -->
            </header>

            {% if r[1].title %}
            <h3 class="ui small header" style="margin-top: 1rem;">
              {{ r[1].title }}
            </h3>
            {% endif %}

            <p>
              國是會議主題：
              {% for t in r[1]._topic %}
              <span class="ui horizontal basic label" style="margin: 0 0 0 0.5rem;">
                {{ t }}
                <span>　</span>
                {{ site.data.topic[t] }}
              </span>
              {% endfor %}
            </p>

            <p>
              影響族群：
              {% for s in r[1]._stakeholder %}
              <span class="ui orange horizontal label" style="margin: 0 0 0 0.5rem;">
                {{ s }}
              </span>
              {% endfor %}
            </p>

            <p>
              主責單位：
              {% for ow in r[1]._owner %}
              <span class="ui teal horizontal label" style="margin: 0 0 0 0.5rem;">
                {{ ow }}
              </span>
              {% endfor %}
            </p>

            <p>
              配合單位：
              {% for pn in r[1]._partner %}
              <span class="ui basic teal horizontal label" style="margin: 0 0 0 0.5rem;">
                {{ pn }}
              </span>
              {% endfor %}
            </p>

            <p>
              最新進度：[
              {{ r[1].log.first.type }}
              ]
              {{ r[1].log.first.date }}
              {{ r[1].log.first.title }}
            </p>

            {% for o in r[1]._object %}
            <article style="margin: 1rem 0">

              <header style="color: #00b5ad; background-color: #ebf9f7; padding: 0.5rem 1rem; margin: 1rem -1rem;">
                <p style=" margin: 0; line-height: 2em;">
                  <span style="float: none; margin-right: 1rem;">
                    子決議 {{ o }}
                  </span>
                </p>
                <!--
                <p style="text-align: right; margin: 0; line-height: 2em;">
                  {% if site.data.object[o]._owner %}
                    {% for ow in site.data.object[o]._owner %}
                    <span class="ui teal horizontal label" style="margin: 0 0 0 0.5rem;">
                      {{ ow }}
                    </span>
                    {% endfor %}
                  {% else %}
                    {% if site.data.object[o]._partner %}
                    {% else %}
                      <span>　</span>
                    {% endif %}
                  {% endif %}

                  {% if site.data.object[o]._partner %}
                    {% for pn in site.data.object[o]._partner %}
                    <span class="ui basic teal horizontal label" style="margin: 0 0 0 0.5rem;">
                      {{ pn }}
                    </span>
                    {% endfor %}
                  {% else %}
                    {% if site.data.object[o]._owner %}
                    {% else %}
                      <span>　</span>
                    {% endif %}
                  {% endif %}
                </p>
              -->
              </header>

              {% if site.data.object[o].description %}
                {% for p in site.data.object[o].description %}
                <p>
                  {{ p }}
                </p>
                {% endfor %}
              {% endif %}

              <p>
                影響族群：
                {% for s in site.data.object[o]._stakeholder %}
                <span class="ui orange horizontal label" style="margin: 0 0 0 0.5rem;">
                  {{ s }}
                </span>
                {% endfor %}
              </p>

              <p>
                主責單位：
                {% for ow in site.data.object[o]._owner %}
                <span class="ui teal horizontal label" style="margin: 0 0 0 0.5rem;">
                  {{ ow }}
                </span>
                {% endfor %}
              </p>

              <p>
                配合單位：
                {% for pn in site.data.object[o]._partner %}
                <span class="ui basic teal horizontal label" style="margin: 0 0 0 0.5rem;">
                  {{ pn }}
                </span>
                {% endfor %}
              </p>

              <p>
                最新進度：[
                {{ site.data.object[o].log.first.type }}
                ]
                {{ site.data.object[o].log.first.date }}
                {{ site.data.object[o].log.first.title }}
              </p>

              {% if site.data.object[o]._mission %}
                {% for m in site.data.object[o]._mission %}
                <article style="margin: 1rem 0">

                  <header style="background-color: rgba(0,0,0,0.05); padding: 0.5rem; margin: 1rem 0;">
                    <p style=" margin: 0; line-height: 2em;">
                      <span style="float: none; margin-right: 1rem;">
                        子決議細項 {{ m }}
                      </span>
                    </p>
                    <!--
                    <p style="text-align: right; margin: 0; line-height: 2em;">
                      {% if site.data.mission[m]._owner %}
                        {% for ow in site.data.mission[m]._owner %}
                        <span class="ui teal horizontal label" style="margin: 0 0 0 0.5rem;">
                          {{ ow }}
                        </span>
                        {% endfor %}
                      {% else %}
                        {% if site.data.mission[m]._partner %}
                        {% else %}
                          <span>　</span>
                        {% endif %}
                      {% endif %}

                      {% if site.data.mission[m]._partner %}
                        {% for pn in site.data.mission[m]._partner %}
                        <span class="ui basic teal horizontal label" style="margin: 0 0 0 0.5rem;">
                          {{ pn }}
                        </span>
                        {% endfor %}
                      {% else %}
                        {% if site.data.mission[m]._owner %}
                        {% else %}
                          <span>　</span>
                        {% endif %}
                      {% endif %}
                    </p>
                  -->
                  </header>

                  {% if site.data.mission[m].description %}
                    {% for p in site.data.mission[m].description %}
                    <p>
                      {{ p }}
                    </p>
                    {% endfor %}
                  {% endif %}

                  <p>
                    影響族群：
                    {% for s in site.data.mission[m]._stakeholder %}
                    <span class="ui orange horizontal label" style="margin: 0 0 0 0.5rem;">
                      {{ s }}
                    </span>
                    {% endfor %}
                  </p>

                  <p>
                    主責單位：
                    {% for ow in site.data.mission[m]._owner %}
                    <span class="ui teal horizontal label" style="margin: 0 0 0 0.5rem;">
                      {{ ow }}
                    </span>
                    {% endfor %}
                  </p>

                  <p>
                    配合單位：
                    {% for pn in site.data.mission[m]._partner %}
                    <span class="ui basic teal horizontal label" style="margin: 0 0 0 0.5rem;">
                      {{ pn }}
                    </span>
                    {% endfor %}
                  </p>

                  <p>
                    最新進度：[
                    {{ site.data.mission[m].log.first.type }}
                    ]
                    {{ site.data.mission[m].log.first.date }}
                    {{ site.data.mission[m].log.first.title }}
                  </p>

                </article>
                {% endfor %}
              {% endif %}

            </article>
            {% endfor %}
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</section>

<footer class="ui basic teal section segment" style="background-color: #ebf9f7;">
  <div class="ui center aligned container">
    <a href="{{ site.data.site.code.source }}" target="_blank">
      <i class="icon code"></i>
      Source Code
    </a>
  </div>
</footer>

</main>