---
layout: page
title: 搜尋
---

<main id="search">

<section class="ui basic segment">
  <div class="ui container">
    <div class="ui two column stackable grid">
      <div class="five wide column">
        <div class="ui vertical fluid menu">

          <div class="item">
            <div class="ui icon input">
              <input type="text" placeholder="Search..." value="被害人" />
              <i class="search icon"></i>
            </div>
          </div>

          <div class="item">
            排序方式
            <div class="menu">
              <a class="item">
                依決議編號
              </a>
              <a class="item">
                依更新時間
              </a>
              <a class="item">
                依熱門度
              </a>
            </div>
          </div>

          <div class="item">
            依狀態過濾
            <div class="menu">
              {% for s in site.data.schema.status %}
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                {{ s }}
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依所需期程過濾
            <div class="menu">
              {% for p in site.data.schema.period %}
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                {{ p }}
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依進度過濾
            <div class="menu">
              {% for p in site.data.schema.progress %}
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                {{ p }}
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依相關法規過濾
            <div class="menu">
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                不需修法
              </a>
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                OOO 法
              </a>
            </div>
          </div>

          <div class="item">
            依相關行政命令過濾
            <div class="menu">
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                不需行政命令
              </a>
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                OOO 命令 OOO 號
              </a>
            </div>
          </div>

          <div class="item">
            依利害關係人過濾
            <div class="menu">
              {% for s in site.data.stakeholder %}
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                {{ s[0] }}
                {{ s[1].name_en }}
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依司法關鍵字過濾
            <div class="menu">
              {% for s in site.data.system %}
              {% for a in s[1].activity %}
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                {{ a.name }}
                {{ a.name_en }}
              </a>
              {% endfor %}
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依單位組織過濾
            <div class="menu">
              {% for o in site.data.office %}
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                {{ o[0] }}
                {% if o[1].type != "gov" %}
                (NGO)
                {% endif %}
              </a>
              {% endfor %}
            </div>
          </div>

          <div class="item">
            依國是會議主題過濾
            <div class="menu">
              {% for t in site.data.topic %}
              <a class="item">
                <span class="ui right floated horizontal basic label" style="background-color: #fff; color: inherit;">
                  n
                </span>
                {{ t[0] }}
                {{ t[1].title }}
              </a>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
      <div class="eleven wide column">

        <p>
          6 筆與 被害人 相關決議
        </p>

        {% for r in site.data.resolution %}

        <div class="ui segment">
          <header class="ui small header">
            {% if r[1].version.last._owner %}
            <span style="float: right;">
              {% for ow in r[1].version.last._owner %}
              <a class="ui horizontal label">
                {{ ow }}
              </a>
              {% endfor %}
            </span>
            {% endif %}

            <a href="resolution" style="float: none; margin-right: 1rem;">
              決議 {{ r[0] }}
            </a>
            {% if r[1].version.last._owner %}
              {% if r[1].status.last %}
              <span>
              <i class="icon
              {% if r[1].status.last._status == '進行中' %}
              wait
              {% else %}
                {% if r[1].status.last._status == '已完成' %}
                checkmark
                {% endif %}
                {% if r[1].status.last._status == '已完成（納入常態業務）' %}
                checkmark
                {% endif %}
              {% endif %}
              "></i>
              {{ r[1].status.last._status }}
              {% endif %}
              </span>
            {% endif %}
          </header>

          {% if r[1].version.last._topic %}
          <p style="text-align: right;">
            國是會議主題：
            {% for t in r[1].version.last._topic %}
            <a class="ui horizontal label">
              {{ t }} {{ site.data.topic[t].title }}
            </a>
            {% endfor %}
          </p>
          {% endif %}

          {% if r[1].version.last.title %}
          {% for p in r[1].version.last.title %}
          <p>
            {{ p }}
          </p>
          {% endfor %}
          {% endif %}

          {% if r[1].version.last._object %}
          <div class="ui relaxed list">

            {% for o in r[1].version.last._object %}
            <article class="item">
              <div class="content">
                <div class="header" style="margin-bottom: 0.5rem;">
                  {% if site.data.object[o].version.last._owner %}
                  <span style="float: right;">
                    {% for ow in site.data.object[o].version.last._owner %}
                    <a class="ui horizontal label">
                      {{ ow }}
                    </a>
                    {% endfor %}
                  </span>
                  {% endif %}
                  <a href="resolution" style="float: none; margin-right: 1rem;">
                  決議 {{ o }}
                  </a>
                  {% if site.data.object[o].version.last._owner %}
                    {% if site.data.object[o].status.last %}
                    <span>
                    <i class="icon
                    {% if site.data.object[o].status.last._status == '進行中' %}
                    wait
                    {% else %}
                      {% if site.data.object[o].status.last._status == '已完成' %}
                      checkmark
                      {% endif %}
                      {% if site.data.object[o].status.last._status == '已完成（納入常態業務）' %}
                      checkmark
                      {% endif %}
                    {% endif %}
                    "></i>
                    {{ site.data.object[o].status.last._status }}
                    {% endif %}
                    </span>
                  {% endif %}
                </div>
                <div class="description">
                  {% if site.data.object[o].version.last.title %}
                  {% for p in site.data.object[o].version.last.title %}
                  <p>
                    {{ p }}
                  </p>
                  {% endfor %}
                  {% endif %}

                </div>
              </div>

              {% if site.data.object[o].version.last._mission %}
              <div class="ui relaxed list">
                {% for m in site.data.object[o].version.last._mission %}
                <article class="item">
                  <div class="content">
                    <div class="header" style="margin-bottom: 0.5rem;">
                      {% if site.data.mission[m].version.last._owner %}
                      <span style="float: right;">
                        {% for ow in site.data.mission[m].version.last._owner %}
                        <a class="ui horizontal label">
                          {{ ow }}
                        </a>
                        {% endfor %}
                      </span>
                      {% endif %}
                      <a href="resolution" style="float: none; margin-right: 1rem;">
                      決議 {{ m }}
                      </a>
                      {% if site.data.mission[m].version.last._owner %}
                        {% if site.data.mission[m].status.last %}
                        <span>
                        <i class="icon
                        {% if site.data.mission[m].status.last._status == '進行中' %}
                        wait
                        {% else %}
                          {% if site.data.mission[m].status.last._status == '已完成' %}
                          checkmark
                          {% endif %}
                          {% if site.data.mission[m].status.last._status == '已完成（納入常態業務）' %}
                          checkmark
                          {% endif %}
                        {% endif %}
                        "></i>
                        {{ site.data.mission[m].status.last._status }}
                        {% endif %}
                        </span>
                      {% endif %}
                    </div>
                    <div class="description">
                      {% if site.data.mission[m].version.last.title %}
                      {% for p in site.data.mission[m].version.last.title %}
                      <p>
                        {{ p }}
                      </p>
                      {% endfor %}
                      {% endif %}
                    </div>
                  </div>
                </article>
                {% endfor %}
              </div>
              {% endif %}

            </article>
            {% endfor %}

          </div>
          {% endif %}

          <hr class="ui divider" />
          <p style="text-align: right;">
            {% if r[1].updated %}
            於 {{ r[1].updated }} 更新
            {% endif %}
            <a class="ui small icon labeled button" href="resolution" style="margin: 0 0 0 0.5rem;">
              <i class="icon right chevron"></i>
              詳細內容
            </a>
          </p>


        </div>


        {% endfor %}

      </div>
    </div>
  </div>
</section>

</main>