<header id="header" class="ui basic grey inverted segment">
  <div class="ui container">
    <div class="ui grey inverted stackable borderless menu">
      <a class="item" href="index">
        {{ site.data.site.name }}
      </a>
      <a class="item" href="search">
        搜尋
      </a>
      <a class="item" href="resolution">
        決議
      </a>
      <div class="right menu">
        <a class="item" href="">
          公務員入口
        </a>
      </div>
    </div>
    <!--
      <div class="sidebar button">
        <i class="teal icon sidebar" style="margin: 0;"></i>
      </div>
    <h1 class="ui large header" style="margin-top: 2rem;">
      司改
      <i class="law orange icon" style="margin: 0; font-size: 1em; line-height: 1em; position: relative; top: -0.3rem;"></i>
      追追追
    </h1>
    <p >
      \ {{ site.data.site.description }} /
    </p>
    <p>
      這個頁面是初步試拆完的 data model 的設計師友善版，單純呈現資料用，目的是讓設計師製作 wireframe 時有擬真的 data 可以套用。本頁的排版方式跟未來的 wireframe 無關，不管 layout 是啥都請忽略～文字版的資料清單詳
    </p>
    <p style="margin-bottom: 2rem;">
      <a class="ui basic teal button" href="https://github.com/ETBlue/jrtracker/tree/gh-pages/_data">
        <i class="icon github"></i>
        github
      </a>
    </p>
    -->
  </div>
</header>