<header id="header" class="ui basic grey inverted center aligned segment">
  <div class="ui container">

<div class="ui grey inverted stackable borderless menu">
  <a class="item" href="my">
    {{ site.data.site.name }}
    <span style="margin: 0 0.5rem;">
      <i class="icon user"></i>
      法務部
    </span>
    編輯後台
  </a>
  <div class="right menu">
    <a class="item" href="login">
      登出
    </a>
    <a class="item" href="help-member">
      使用說明
    </a>
  </div>
</div>

  </div>
</header>
