html, body {
  font-size: 18px;
  background-color: #fdf9e5;
  background-color: #f9f9f9;
}

.ui.container {
  width: 100%;
  max-width: 1024px!important;
  margin: 0 auto!important;
  padding: 0 1rem;
}

.sidebar.button {
  margin: -0.3em 0;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
  opacity: 0.7;
  float: right;
}

.sidebar.button:hover {
  opacity: 1;
  background-color: rgba(255,255,255,0.8);
}

.inline.block {
  display: inline-block;
}

a {
  color: inherit;
}

@media only screen and (max-width: 767px) {


}

